<div class="flex-1 flex flex-col shadow-md rounded-md p-5 text-lg pt-10">
  <h2 class="font-bold text-xl">Đơn hàng của tôi</h2>

  <table
    class="w-full mt-5 rounded-lg border-separate border-tools-table-outline border-2 border-gray-line text-center font-manrope"
  >
    <thead>
      <tr>
        <th class="p-2">Mã đơn hàng</th>
        <th class="p-2">Ngày đặt hàng</th>
        <th class="p-2">Tổng tiền</th>
        <th class="p-2">Trạng thái</th>
        <th class="p-2">Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-2">1</td>
        <td class="p-2">2021-01-01</td>
        <td class="p-2">100,000 VND</td>
        <td class="p-2">Đã giao hàng</td>
        <td class="p-2"><a>Xem chi tiết</a></td>
      </tr>
      <tr>
        <td class="p-2">2</td>
        <td class="p-2">2021-01-02</td>
        <td class="p-2">200,000 VND</td>
        <td class="p-2">Đã giao hàng</td>
      </tr>
      <tr>
        <td class="p-2">3</td>
        <td class="p-2">2021-01-03</td>
        <td class="p-2">300,000 VND</td>
        <td class="p-2">Đã giao hàng</td>
      </tr>
    </tbody>
  </table>
</div>