<!doctype html>
<html lang="vi">

<head>
    <%- include('./partials/head'); %>
        <title>TechKit - Login</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header'); %>
        <!-- Content -->
        <div class="flex gap-5">
            <!-- Sidebar -->
            <aside class="rounded-md shadow-md p-5">
                <nav class="flex flex-col gap-2 items-stretch">
                    <a class="rounded-md border border-primary text-primary p-2 text-center" href="/profile/info">
                        Thông tin tài khoản
                    </a>
                    <a class="rounded-md border border-primary text-primary p-2 text-center" href="/profile/orders">
                        Đơn hàng của tôi
                    </a>
                </nav>
            </aside>
            <%- include('./profileInfo', {account}); %>
        </div>
        <!-- Footer -->
        <%- include('./partials/footer'); %>
</body>
<script>
    // Image preview
    const avatar = document.getElementById('avatar');
    const preview = document.getElementById('preview');

    avatar.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = (e) => {
            preview.src = e.target.result;
        };

        reader.readAsDataURL(file);
    });

    // Click update button, enable all input fields (except email)
    const updateButton = document.getElementById('update');
    const applyButton = document.getElementById('apply');

    updateButton.addEventListener('click', () => {
        const inputs = document.querySelectorAll('input');
        inputs.forEach((input) => {
            if (input.id !== 'email') {
                input.removeAttribute('readonly');
                input.classList.remove('opacity-60');
            }
        });
        const select = document.getElementById('sex');
        select.removeAttribute('disabled');
        select.classList.remove('opacity-60');
        // Open image preview
        const chooseImg = document.getElementById('choose-img');
        chooseImg.style.display = 'flex';


        updateButton.classList.add('hidden');
        applyButton.classList.remove('hidden');
    });

    applyButton.addEventListener('click', async () => {
        const name = document.getElementById('name').value;
        const phone = document.getElementById('phone').value;
        const birthdate = document.getElementById('birthday').value;
        const address = document.getElementById('address').value;
        const sex = document.getElementById('sex').value;

        const info = { name, address, birthdate, sex, phone };
        console.log(info);

        const updateProfile = async () => {
            try {
                const response = await fetch('/api/profile/info', { // Adjust URL if necessary
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(info),
                });

                const data = await response.json();

                if (response.ok) {
                    console.log('Profile updated successfully:', data);
                    const inputs = document.querySelectorAll('input');
                    inputs.forEach((input) => {
                        if (input.id !== 'old-password' && input.id !== 'new-password' && input.id !== 'confirm-password') {
                            input.setAttribute('readonly', 'true');
                            input.classList.add('opacity-60');
                        }
                    });
                    const select = document.getElementById('sex');
                    select.setAttribute('disabled','true');
                    select.classList.add('opacity-60');

                    const chooseImg = document.getElementById('choose-img');
                    chooseImg.style.display = '';

                    applyButton.classList.add('hidden');
                    updateButton.classList.remove('hidden');
                } else {
                    console.error('Failed to update profile:', data.message);
                    alert(`Error: ${data.message}`);
                }

            } catch (error) {
                console.error('Error updating profile:', error);
                // Handle network or other errors (e.g., show a general error message)
            }
        };

        // Call the updateProfile function
        updateProfile();
    });

    const updatePasswordButton = document.getElementById('update-password');
    updatePasswordButton.addEventListener('click', async () => {
        const oldPassword = document.getElementById('old-password').value;
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        const updatePassword = async () => {
            try {
                const response = await fetch('/api/profile/password', { // Adjust URL if necessary
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        oldPassword,newPassword,confirmPassword
                    }),
                });

                const data = await response.json();

                if (response.ok) {
                    console.log('Password updated succesfully:', data);
                    const inputs = document.querySelectorAll('input');
                    inputs.forEach((input) => {
                        if (input.id === 'old-password' || input.id === 'new-password' || input.id === 'confirm-password') {
                            input.value = '';
                        }
                    });
                    alert(`Success: ${data.message}`);
                } else {
                    console.error('Failed to update password:', data.message);
                    alert(`Error: ${data.message}`);
                }

            } catch (error) {
                console.error('Error updating profile:', error);
                // Handle network or other errors (e.g., show a general error message)
            }
        }
        updatePassword();
    })
</script>

</html>