<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>TechKit - Login</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('./partials/header'); %>
        
        <!-- Footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>
