<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>TechKit - Shop</title>
    </head>
    
    <body>
        <!-- Header -->
        <%- include('./partials/header'); %>

        <div class="container mx-auto mb-10">
            <!-- Top Filter -->
            <div
                class="flex flex-col md:flex-row justify-between items-center py-4"
            >
                <div class="flex items-center space-x-4">
                    <h2 class="font-bold text-xl">Bộ lọc:</h2>
                </div>
                <div class="flex mt-5 md:mt-0 space-x-4">
                    <div class="relative">
                        <select
                            id="sort-price"
                            onchange="sortByPrice();"
                            class="block appearance-none w-full bg-white border hover:border-primary px-4 py-2 pr-8 rounded-full shadow leading-tight focus:outline-none focus:shadow-outline"
                        >
                            <option>Xếp theo:</option>
                            <option value="asc">Xếp theo: Giá tăng dần</option>
                            <option value="desc">Xếp theo: Giá giảm dần</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center justify-center px-2"
                        >
                            <img
                                id="arrow-down"
                                class="h-4 w-4"
                                src="/images/icons/filter-down-arrow.svg"
                                alt="filter arrow"
                            />
                            <img
                                id="arrow-up"
                                class="h-4 w-4 hidden"
                                src="/images/icons/filter-up-arrow.svg"
                                alt="filter arrow"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Filter Toggle Button for Mobile -->
            <div class="block md:hidden text-center mb-4">
                <button
                    id="products-toggle-filters"
                    class="bg-primary text-white py-2 px-4 rounded-full focus:outline-none"
                >
                    Hiện Bộ lọc
                </button>
            </div>
            <div class="flex flex-col md:flex-row">
                <!-- Filters -->
                <form id="product-filters" class="w-full md:w-1/4 p-4 hidden md:block">
                    <!-- Category Filter -->
                    <!-- Laptop Brand Filter -->
                    <div class="mb-6 pb-8 border-b border-gray-line">
                        <% if(category !== 'pc') { %>
                            <h3 class="text-lg font-semibold mb-6">Thương hiệu</h3>
                        <% } %>

                        <% switch(category) {
                            case 'laptop': %>
                                <div class="space-y-2">
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            name="brand"
                                            value="Asus"
                                            class="form-checkbox custom-checkbox"
                                        />
                                        <span class="ml-2">ASUS</span>
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            name="brand"
                                            value="Lenovo"
                                            class="form-checkbox custom-checkbox"
                                        />
                                        <span class="ml-2">Lenovo</span>
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            name="brand"
                                            value="HP"
                                            class="form-checkbox custom-checkbox"
                                        />
                                        <span class="ml-2">HP</span>
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            name="brand"
                                            value="MSI"
                                            class="form-checkbox custom-checkbox"
                                        />
                                        <span class="ml-2">MSI</span>
                                    </label>
                                </div>
                            <% break;
                        } %>
                    </div>
                    
                    <!-- Laptop & PC CPU -->
                    <% if(category === 'laptop' || category === 'pc'){ %> 
                        <div class="mb-6 pb-8 border-b border-gray-line">
                        <h3 class="text-lg font-semibold mb-6">CPU</h3>
                        <div class="space-y-2">
                            <label class="flex items-center">
                                <input
                                    type="checkbox"
                                    name="cpu"
                                    value="i7"
                                    class="form-checkbox custom-checkbox"
                                />
                                <span class="ml-2">Intel Core i7</span>
                            </label>
                            <label class="flex items-center">
                                <input
                                    type="checkbox"
                                    name="cpu"
                                    value="i9"
                                    class="form-checkbox custom-checkbox"
                                />
                                <span class="ml-2">Intel Core i9</span>
                            </label>
                            <label class="flex items-center">
                                <input
                                    type="checkbox"
                                    name="cpu"
                                    value="ryzen 7"
                                    class="form-checkbox custom-checkbox"
                                />
                                <span class="ml-2">ADM Ryzen 7</span>
                            </label>
                            <label class="flex items-center">
                                <input
                                    type="checkbox"
                                    name="cpu"
                                    value="ryzen 9"
                                    class="form-checkbox custom-checkbox"
                                />
                                <span class="ml-2">ADM Ryzen 9</span>
                            </label>
                        </div>
                    </div>
                    <% } %>  

                    
                    <div class="mb-6 pb-8 border-b border-gray-line">
                        <h3 class="text-lg font-semibold mb-6">Khoảng giá</h3>
                        <div class="grid    grid-cols-2 grid-rows-2 space-y-2 items-center">
                            <span>Thấp nhất:</span>
                            <input
                                type="number"
                                min="0"
                                max="999999999"
                                id="minPrice" 
                                name="minPrice"
                                class="border-2 rounded-md pl-2 py-1"
                            />
                            <span>Cao nhất:</span>
                            <input
                                type="number"
                                max="999999999"
                                id="maxPrice" 
                                name="maxPrice"
                                class="border-2 rounded-md pl-2 py-1"
                            />  
                        </div>
                    </div>

                    <button onclick="onFilterSubmit(event);" class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full w-full">Áp dụng</button>
                </form>
                
                
                <!-- Products List -->
                <div class="w-full md:w-3/4 p-4">
                    <!-- Products grid -->
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
                    >
                        <!-- Loop through products and display each one -->
                        <% products.forEach(product => { %>
                            <%- include('product', { product }); %>
                        <% }); %>
                    </div>
                    <!-- Pagination -->
                    <div class="flex justify-center mt-8">
                        <nav aria-label="Page navigation">
                            <ul class="inline-flex space-x-2">
                                <li>
                                    <a
                                        href="#"
                                        class="bg-primary text-white w-10 h-10 flex items-center justify-center rounded-full"
                                        >1</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#"
                                        class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-primary hover:text-white"
                                        >2</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#"
                                        class="w-10 h-10 flex items-center justify-center rounded-full hover:bg-primary hover:text-white"
                                        >3</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#"
                                        class="w-10 h-10 flex items-center justify-center rounded-full"
                                        >Next</a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>
