<header class="sticky top-0 z-50 bg-primary">
    <div class="container mx-auto flex items-center justify-between py-4">
        <!-- Left section: Logo -->
        <a href="/" class="flex items-center">
            <div>
                <img
                    src="https://res.cloudinary.com/dqi9dab5p/image/upload/v1733040689/template-white-logo_dxrc04.png"
                    alt="Logo"
                    class="mr-4 max-h-16 w-auto"
                />
            </div>
        </a>

        <!-- Search field (for desktops)-->
        <form
            id="search-global"
            method="get"
            action="/shop"
            class="mx-10 hidden w-full self-center rounded-md bg-white p-1 shadow-lg md:flex md:w-1/2"
        >
            <input
                type="text"
                name="keyword"
                id="keyword"
                class="w-full p-2 focus:border-none focus:outline-none"
                placeholder="Search for products..."
            />
            <button type="submit" class="mr-2 self-center">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <!-- Right section: Buttons (for mobile) -->
        <div class="flex gap-3 md:hidden">
            <a href="/cart" class="rounded-md border-2 px-2 py-2">
                <img
                    src="/images/icons/cart-shopping.svg"
                    alt="Cart"
                    class="h-6 w-6"
                />
            </a>
            <!-- Login -->
            <a
                href="/auth/login"
                class="login-register group w-max rounded-md bg-white px-3 py-2 text-primary"
            >
                <i class="fa-regular fa-user" style="color: #ff0042"></i>
                <span class="ml-2 font-semibold">Đăng nhập</span>
            </a>
        </div>

        <!-- Right section: Buttons (for desktop) -->
        <div class="relative hidden items-center space-x-4 md:flex">
            <div class="cart-wrapper group relative mr-2 border-white border-2 p-2 rounded-md ">
                <div class="flex w-max">
                    <a href="/cart">
                        <img
                            src="/images/icons/cart-shopping.svg"
                            alt="Cart"
                            class="h-6 w-6"
                        />
                    </a>
                    <a href="/cart" class="ml-2 font-semibold text-white"
                        >Giỏ hàng (2)</a
                    >
                </div>

                <!-- Cart dropdown -->
                <div
                    class="absolute right-0 mt-1 hidden w-80 rounded bg-white p-4 shadow-lg group-hover:block"
                >
                    <div class="space-y-4">
                        <!-- product item -->
                        <div
                            class="flex items-center justify-between border-b border-gray-line pb-4"
                        >
                            <div class="flex items-center">
                                <img
                                    src="/images/single-product/1.png"
                                    alt="Product"
                                    class="mr-2 h-12 w-12 rounded object-cover"
                                />
                                <div>
                                    <p class="font-semibold">
                                        Summer black dress
                                    </p>
                                    <p class="text-sm">Quantity: 1</p>
                                </div>
                            </div>
                            <p class="font-semibold">$25.00</p>
                        </div>
                        <!-- product item -->
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <img
                                    src="/images/single-product/2.jpg"
                                    alt="Product"
                                    class="mr-2 h-12 w-12 rounded object-cover"
                                />
                                <div>
                                    <p class="font-semibold">Black suit</p>
                                    <p class="text-sm">Quantity: 1</p>
                                </div>
                            </div>
                            <p class="font-semibold">$125.00</p>
                        </div>
                    </div>
                    <a
                        href="/cart"
                        class="mt-4 block rounded-full border border-primary bg-primary py-2 text-center font-semibold text-white hover:bg-transparent hover:text-primary"
                        >Xem giỏ hàng</a
                    >
                </div>
            </div>

            <!-- Login -->
            <% if (isAuth) { %>
                <div>
                    <a href="/auth/logout">
                        <div
                            class="login-register group w-max rounded-md bg-white px-3 py-2 text-primary "
                        >
                            <span class="font-semibold">Đăng xuất</span>
                        </div>
                    </a>
                </div>
                <a href="/profile"><img src="<%= avatar %>" alt="" class="w-10 h-10 bg-white rounded-full"></a>
            <% } else { %>
                <a href="/auth/login">
                    <div
                        class="login-register group w-max rounded-md bg-white px-3 py-2 text-primary"
                    >
                        <i class="fa-regular fa-user" style="color: #ff0042"></i>
                        <span class="ml-2 font-semibold">Đăng nhập</span>
                    </div>
                </a>
            <% } %>
        </div>
    </div>

    <div
        class="container2 mx-auto flex items-center justify-around bg-gray-light py-4"
    >
        <!-- Hamburger menu (for mobile) -->
        <div class="flex md:hidden">
            <button id="hamburger" class="text-white focus:outline-none">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"
                    ></path>
                </svg>
            </button>
        </div>

        <!-- Center section: Menu -->
        <nav class="hidden justify-center md:flex md:flex-grow">
            <ul class="flex w-full justify-evenly space-x-4 text-white">
                <li>
                    <a href="/" class="hover:text-secondary font-semibold"
                        >Trang chủ</a
                    >
                </li>
                <li>
                    <a href="/about" class="hover:text-secondary font-semibold"
                        >Giới thiệu</a
                    >
                </li>

                <!-- Men Dropdown -->
                <li class="group relative" x-data="{ open: false }">
                    <a
                        href="/shop/laptop"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary flex items-center font-semibold"
                    >
                        Laptop
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 mt-1 space-y-2 rounded bg-white p-2 text-black shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop/laptop/asus"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Asus</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/lenovo"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Lenovo</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/acer"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Acer</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/msi"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >MSI</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a
                        href="/shop/pc"
                        class="hover:text-secondary font-semibold"
                        >PC</a
                    >
                </li>

                <!-- Women Dropdown -->
                <li class="group relative" x-data="{ open: false }">
                    <a
                        href="/shop"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary flex items-center font-semibold"
                    >
                        Gaming Gear
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 mt-1 space-y-2 rounded bg-white p-2 text-black shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Bàn phím</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Chuột</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Tai nghe</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/shop" class="hover:text-secondary font-semibold"
                        >Màn hình</a
                    >
                </li>

                <li>
                    <a href="/shop" class="hover:text-secondary font-semibold"
                        >Linh kiện PC</a
                    >
                </li>

                <li>
                    <a
                        href="/contact"
                        class="hover:text-secondary font-semibold"
                        >Liên hệ</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
