<header class="bg-primary sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center py-4">
        <!-- Left section: Logo -->
        <a href="/" class="flex items-center">
            <div>
                <img
                    src="/images/template-white-logo.png"
                    alt="Logo"
                    class="mr-4 max-h-16 w-auto"
                />
            </div>
        </a>

        <!-- Search field (for desktops)-->
        <div
            id="search-field"
            class="hidden md:flex bg-white shadow-lg rounded-md w-full md:w-1/2 p-1 mx-10 self-center"
        >
            <input
                type="text"
                class="w-full p-2 focus:border-none focus:outline-none"
                placeholder="Search for products..."
            />
            <button class="self-center mr-2">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <!-- Right section: Buttons (for mobile) -->
        <div class="flex md:hidden gap-3">
            <a href="/cart" class="border-2 rounded-md px-2 py-2">
                <img
                    src="/images/cart-shopping.svg"
                    alt="Cart"
                    class="h-6 w-6"
                />
            </a>
            <!-- Login -->
            <a
                href="register.html"
                class="group login-register text-primary px-3 py-2 rounded-md bg-white w-max"
            >
                <i class="fa-regular fa-user" style="color: #ff0042"></i>
                <span class="font-semibold ml-2">Đăng nhập</span>
            </a>
        </div>

        <!-- Right section: Buttons (for desktop) -->
        <div class="hidden md:flex items-center space-x-4 relative">
            <div class="relative group cart-wrapper mr-2">
                <div class="flex w-max">
                    <a href="/cart">
                        <img
                            src="/images/cart-shopping.svg"
                            alt="Cart"
                            class="h-6 w-6"
                        />
                    </a>
                    <a href="/cart" class="text-white font-semibold ml-2"
                        >Giỏ hàng (2)</a
                    >
                </div>

                <!-- Cart dropdown -->
                <div
                    class="absolute right-0 mt-1 w-80 bg-white shadow-lg p-4 rounded hidden group-hover:block"
                >
                    <div class="space-y-4">
                        <!-- product item -->
                        <div
                            class="flex items-center justify-between pb-4 border-b border-gray-line"
                        >
                            <div class="flex items-center">
                                <img
                                    src="/images/single-product/1.png"
                                    alt="Product"
                                    class="h-12 w-12 object-cover rounded mr-2"
                                />
                                <div>
                                    <p class="font-semibold">
                                        Summer black dress
                                    </p>
                                    <p class="text-sm">Quantity: 1</p>
                                </div>
                            </div>
                            <p class="font-semibold">$25.00</p>
                        </div>
                        <!-- product item -->
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <img
                                    src="/images/single-product/2.jpg"
                                    alt="Product"
                                    class="h-12 w-12 object-cover rounded mr-2"
                                />
                                <div>
                                    <p class="font-semibold">Black suit</p>
                                    <p class="text-sm">Quantity: 1</p>
                                </div>
                            </div>
                            <p class="font-semibold">$125.00</p>
                        </div>
                    </div>
                    <a
                        href="/cart"
                        class="block text-center mt-4 border border-primary bg-primary hover:bg-transparent text-white hover:text-primary py-2 rounded-full font-semibold"
                        >Go to Cart</a
                    >
                </div>
            </div>

            <!-- Login -->
            <a href="/register">
                <div
                    class="group login-register text-primary px-3 py-2 rounded-md bg-white w-max"
                >
                    <i class="fa-regular fa-user" style="color: #ff0042"></i>
                    <a href="/register" class="font-semibold ml-2">Đăng nhập</a>
                </div>
            </a>
        </div>
    </div>

    <div
        class="container2 mx-auto flex justify-around items-center py-4 bg-gray-light"
    >
        <!-- Hamburger menu (for mobile) -->
        <div class="flex md:hidden">
            <button id="hamburger" class="text-white focus:outline-none">
                <svg
                    class="w-6 h-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"
                    ></path>
                </svg>
            </button>
        </div>

        <!-- Center section: Menu -->
        <nav class="hidden md:flex md:flex-grow justify-center">
            <ul class="flex justify-evenly space-x-4 text-white w-full">
                <li>
                    <a href="/" class="hover:text-secondary font-semibold"
                        >Trang chủ</a
                    >
                </li>
                <li>
                    <a href="/about" class="hover:text-secondary font-semibold"
                        >Giới thiệu</a
                    >
                </li>

                <!-- Men Dropdown -->
                <li class="relative group" x-data="{ open: false }">
                    <a
                        href="/shop/laptop"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary font-semibold flex items-center"
                    >
                        Laptop
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 bg-white text-black space-y-2 mt-1 p-2 rounded shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop/laptop/asus"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >Asus</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/lenovo"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >Lenovo</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/hp"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >HP</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/laptop/msi"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >MSI</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/shop/pc" class="hover:text-secondary font-semibold"
                        >PC</a
                    >
                </li>

                <!-- Women Dropdown -->
                <li class="relative group" x-data="{ open: false }">
                    <a
                        href="/shop"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary font-semibold flex items-center"
                    >
                        Gaming Gear
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 bg-white text-black space-y-2 mt-1 p-2 rounded shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >Bàn phím</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >Chuột</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop"
                                class="min-w-40 block px-4 py-2 hover:bg-primary hover:text-white rounded"
                                >Tai nghe</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/shop" class="hover:text-secondary font-semibold"
                        >Màn hình</a
                    >
                </li>

                <li>
                    <a href="/shop" class="hover:text-secondary font-semibold"
                        >Linh kiện PC</a
                    >
                </li>

                <li>
                    <a
                        href="/contact"
                        class="hover:text-secondary font-semibold"
                        >Liên hệ</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
