<header class="sticky top-0 z-50 bg-primary">
    <div class="container mx-auto flex items-center justify-between py-4">
        <!-- Left section: Logo -->
        <a href="/" class="flex items-center">
            <div>
                <img
                    src="https://res.cloudinary.com/dqi9dab5p/image/upload/v1733040689/template-white-logo_dxrc04.png"
                    alt="Logo"
                    class="mr-4 max-h-16 w-auto"
                />
            </div>
        </a>

        <!-- Search field (for desktops)-->
        <form
            id="search-global"
            method="get"
            action="/shop"
            class="mx-10 hidden w-full self-center rounded-md bg-white p-1 shadow-lg md:flex md:w-1/2 flex-auto"
        >
            <input
                type="text"
                name="keyword"
                id="keyword"
                class="w-full p-2 focus:border-none focus:outline-none"
                placeholder="Search for products..."
            />
            <button type="submit" class="mr-2 self-center">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <!-- Right section: Buttons (for desktop) -->
        <div class="relative items-center space-x-4 flex">
            <a
                class="flex w-max border-2 border-white rounded-md p-2"
                href="/cart"
            >
                <img
                    src="/images/icons/cart-shopping.svg"
                    alt="Cart"
                    class="min-h-6 min-w-6 max-h-6 max-w-6"
                />
                <p class="ml-2 font-semibold text-white max-sm:hidden">
                    Giỏ hàng <span id="cart-count" class="<% if (cartCount === 0) { %> hidden <% } %>">(<%= cartCount %>)</span>
                </p>
            </a>

            <!-- Login -->
            <% if (isAuth) { %>
            <a href="/auth/logout">
                <div
                    class="w-max rounded-md bg-white px-3 py-2 text-primary border-2 border-white"
                >
                    <span class="font-semibold">Đăng xuất</span>
                </div>
            </a>
            <a href="/profile"
                ><img
                    src="<%= avatar %>"
                    alt=""
                    class="min-w-10 min-h-10 max-w-10 max-h-10 bg-white rounded-full"
            /></a>
            <% } else { %>
            <a href="/auth/login">
                <div class="w-max rounded-md bg-white px-3 py-2 text-primary">
                    <i class="fa-regular fa-user" style="color: #ff0042"></i>
                    <span class="ml-2 font-semibold">Đăng nhập</span>
                </div>
            </a>
            <% } %>
        </div>
    </div>

    <div
        class="container2 mx-auto flex items-center justify-around bg-gray-light py-4"
    >
        <!-- Hamburger menu (for mobile) -->
        <div class="flex md:hidden">
            <button id="hamburger" class="text-white focus:outline-none">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"
                    ></path>
                </svg>
            </button>
        </div>

        <!-- Center section: Menu -->
        <nav class="hidden justify-center md:flex md:flex-grow">
            <ul class="flex w-full justify-evenly space-x-4 text-white">
                <li>
                    <a href="/" class="hover:text-secondary font-semibold"
                        >Trang chủ</a
                    >
                </li>
                <li>
                    <a href="/about" class="hover:text-secondary font-semibold"
                        >Giới thiệu</a
                    >
                </li>

                <!-- Gaming Dropdown -->
                <li class="group relative" x-data="{ open: false }">
                    <a
                        href="/shop/gaming"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary flex items-center font-semibold"
                    >
                        Gaming
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 mt-1 space-y-2 rounded bg-white p-2 text-black shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop/gaming?brand=ASUS"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Asus</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/gaming?brand=Lenovo"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Lenovo</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/gaming?brand=Acer"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Acer</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/gaming?brand=MSI"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >MSI</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a
                        href="/shop/office"
                        class="hover:text-secondary font-semibold"
                        >Văn Phòng</a
                    >
                </li>

                <!-- Đồ Họa Dropdown -->
                <li class="group relative" x-data="{ open: false }">
                    <a
                        href="/shop/graphic"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        href="#"
                        class="hover:text-secondary flex items-center font-semibold"
                    >
                        Đồ Họa
                        <i
                            :class="open ? 'fas fa-chevron-up ml-1 text-xs' : 'fas fa-chevron-down ml-1 text-xs'"
                        ></i>
                    </a>
                    <ul
                        x-show="open"
                        @mouseover="open = true"
                        @mouseleave="open = false"
                        class="absolute left-0 mt-1 space-y-2 rounded bg-white p-2 text-black shadow-lg"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                    >
                        <li>
                            <a
                                href="/shop/graphic?brand=ASUS"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Asus</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/graphic?brand=Lenovo"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Lenovo</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/graphic?brand=Acer"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >Acer</a
                            >
                        </li>
                        <li>
                            <a
                                href="/shop/graphic?brand=MSI"
                                class="block min-w-40 rounded px-4 py-2 hover:bg-primary hover:text-white"
                                >MSI</a
                            >
                        </li>
                    </ul>
                </li>

                <li>
                    <a
                        href="/contact"
                        class="hover:text-secondary font-semibold"
                        >Liên hệ</a
                    >
                </li>
            </ul>
        </nav>
    </div>

    <script>
        function updateCartCount() {
            fetch('/api/cart/count', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.count === 0) {
                        // Hide the cart count badge
                        document.getElementById('cart-count').classList.add('hidden');
                        return;
                    }
                    const cartCountElement =
                        document.getElementById('cart-count');
                    cartCountElement.innerText = `(${data.count})`;
                    cartCountElement.classList.remove('hidden');
                })
                .catch((error) =>
                    console.error('Error updating cart count:', error),
                );
        }
    </script>
</header>
